<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <input class="create-input" type="text" v-model="newPageName">
        <button class="create" @click="createNewPage">Создать страницу</button>
        <br> <br>
        <div v-for="(page, index) in pageList" >
            <h1>{{index+1}}. {{ page }} <a @click="deletePage(page)">X</a></h1>
        </div>
    </div>
  <script src="bundle.js"></script>
</body>
</html>